<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="back-button" (click)="goBack()">
        <span class="material-icons">arrow_back</span>
      </button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Сброс пароля
    </ion-title>

    <ion-buttons slot="end">
      <div style="width: 40px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [scrollY]="false">
  <div class="container">
    <div class="icon-wrapper">
      <span class="material-icons lock_reset">lock_reset</span>
    </div>
    <h2>Сброс пароля</h2>
    <p class="subtitle">Введите почту на которую придет код для смены пароля</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <span class="material-icons-outlined input-icon start">mail</span>
        <ion-input formControlName="email" type="email" placeholder="E-mail" class="custom-input">
        </ion-input>
      </div>

      <ion-button expand="block" mode="ios" type="submit">
        Отправить код
        <span class="material-icons-outlined">arrow_forward</span>
      </ion-button>
    </form>
  </div>
</ion-content>