<ion-content [scrollY]="false">
  <div class="container">
    <h2>С возвращением!</h2>
    <p class="subtitle">Войдите в свой аккаунт, чтобы продолжить</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <span class="material-icons-outlined input-icon start">mail</span>
        <ion-input formControlName="email" type="email" placeholder="E-mail" class="custom-input">
        </ion-input>
      </div>
      <div class="error" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <small *ngIf="form.get('email')?.errors?.['required']">Введите email</small>
        <small *ngIf="form.get('email')?.errors?.['email']">Некорректный email</small>
      </div>

      <div class="input-wrapper">
        <span class="material-icons-outlined input-icon start">lock</span>
        <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Пароль" class="custom-input">
        </ion-input>
        <span class="material-icons-outlined input-icon end" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </div>
      <div class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <small *ngIf="form.get('password')?.errors?.['required']">Введите пароль</small>
      </div>
      <div class="error" *ngIf="serverErrors['non_field_errors']">
        <small *ngFor="let err of serverErrors['non_field_errors']">{{ err }}</small>
      </div>

      <div class="forgot-password">
        <a (click)="goToForgotPassword()">Забыли пароль?</a>
      </div>

      <ion-button expand="block" mode="ios" type="submit">
        Войти
        <span class="material-icons-outlined">arrow_forward</span>
      </ion-button>
    </form>

    <div class="auth-text">
      <span>Еще нет аккаунта? <a (click)="goToRegister()">Зарегистрироваться</a></span>
    </div>
  </div>
</ion-content>