<ion-content [scrollY]="false">
  <div class="container">
    <div class="icon-wrapper">
      <span class="material-icons input-icon lock_reset start">lock_reset</span>
    </div>
    <p class="subtitle">Введите код отправленный на <span *ngIf="email">{{email}}</span></p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <span class="material-icons-outlined input-icon start">confirmation_number</span>
        <ion-input formControlName="code" type="text" placeholder="Код подтверждения" class="custom-input">
        </ion-input>
      </div>

      <div class="input-wrapper">
        <span class="material-icons-outlined input-icon start">lock</span>
        <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Новый пароль"
          class="custom-input">
        </ion-input>
        <span class="material-icons-outlined input-icon end" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </div>

      <div class="input-wrapper">
        <span class="material-icons-outlined input-icon start">lock</span>
        <ion-input formControlName="passwordConfirm" [type]="showPassword ? 'text' : 'password'" placeholder="Подтвердите пароль"
          class="custom-input">
        </ion-input>
        <span class="material-icons-outlined input-icon end" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </span>
      </div>

      <ion-button expand="block" mode="ios" type="submit">
        Подтвердить
        <span class="material-icons-outlined">arrow_forward</span>
      </ion-button>
    </form>
  </div>
</ion-content>