h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 100px;
    color: #000 !important;
}

.input-wrapper {
    margin-bottom: 15px;
}

ion-button {
    position: relative;
    color: #fff;
    --background: #2196F3;
    --border-radius: 32px;
    border-radius: 32px;
    --border-style: none;
    --padding: 5px 0px;

    span {
        position: absolute;
        right: 0;
        background-color: #fff;
        padding: 5px;
        border-radius: 32px;
        color: #2196F3;
    }
}